<md-card flex>
  <div class="task-info">
    <span class="input-title">
      <md-checkbox #checkbox (click)="onChecked(checkbox)" [checked]="(!!task.completed)">{{ task.title }}</md-checkbox>
    </span>

    <span class="tools-icons">
      <md-icon (click)="onShowEdit()">edit</md-icon>
      <md-icon (click)="onDeleteTask()">delete</md-icon>
    </span>
  </div>

  <div *ngIf="!hideEdit" class="task-edit">
    <hr>
    <app-task-edit [task]="task" (taskEdited)="onTaskEdited($event)" (editCancelled)="onCancelEdit()"></app-task-edit>
  </div>
</md-card>