<md-card>
  <md-grid-list cols="2" rowHeight="30px">
    <md-grid-tile class="md-grid-tile-task">
      <md-checkbox #checkbox (click)="onChecked(checkbox)" [checked]="(!!task.completed)">{{ task.title }}</md-checkbox>
    </md-grid-tile>
    <md-grid-tile class="md-grid-tile-buttons">
      <md-icon (click)="onShowEdit()">edit</md-icon>
      <md-icon (click)="onDeleteTask()">delete</md-icon>
    </md-grid-tile>
  </md-grid-list>
  <div *ngIf="!hideEdit">
    <hr>
    <app-task-edit [task]="task" (taskEdited)="onTaskEdited($event)" (editCancelled)="onCancelEdit()"></app-task-edit>
  </div>
</md-card>