/*.filler {
    flex: 1 1 auto;
}*/


md-icon {
    cursor: pointer;
}

md-card > div.task-info {
    display: flex;
    justify-content: flex-start;
}

md-card > div.task-info >  span {
    width: 50%;
}

md-card .task-title {
    display: flex;
    max-width: 65%;
    display: flex;
    justify-content: flex-start!important;
}


md-card .tools-icons {
    display: flex;
    justify-content: flex-end !important;
}
