/*.filler {
    flex: 1 1 auto;
}*/


md-icon {
    cursor: pointer;
}


/deep/ md-card .md-grid-tile-buttons .mat-figure {
    display: flex;
    justify-content: flex-end !important;
}


/deep/ md-card .md-grid-tile-task .mat-figure {
    display: flex;
    justify-content: flex-start !important;
}
